# MQTT broker (watch and server connect here)
MQTT_BROKER=your.broker.adress
MQTT_PORT=your.port.eg.1883

# InfluxDB (Docker network)
INFLUX_URL=http://your.influxdb.adress:8181
INFLUX_DATABASE=your.database.name

# Grafana
GRAFANA_ADMIN_USER=your.grafana.admin.user
GRAFANA_ADMIN_PASSWORD=your.grafana.admin.password
